body {
  background-color: rgb(50, 50, 50);
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  color: azure;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 512px;
  width: 512px;
  flex-wrap: wrap;
}

.canvas {
  display: flex;
  justify-content: space-around;
}

.btnContainer {
  text-align: center;
  padding: 28px;
}
