body {
  background-color: rgb(50, 50, 50);
}

.container {
  display: flex;
  flex-direction: column;
  height: 256px;
  width: 256px;
  flex-wrap: wrap;
}
.canvas {
  display: flex;
  justify-content: space-around;
}
h1 {
  color: azure;
  text-align: center;
}
